# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/

# IDE
.vscode/
*.code-workspace
.idea/
.kilocode
.github
.agents

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Data & models
# *.npy
*.npz
*.pth
*.pt

# Outputs
output/
outputs/
results/

# External
momask-codes/
*_cache/
sample_data*
tests/dataset/humanml3d-subset-mini*
*tmp*
*.log
src/evaluator/Comp_v6_KLD005/*
src/evaluator/glove/*
src/evaluator/text_mot_match/*
.kilo*