# Core ML dependencies
torch
torchvision
numpy
scipy
transformers

# Data processing
pandas

# Visualization
matplotlib
plotly
imageio[ffmpeg]
seaborn

# Utilities
tqdm
gdown

# Text Encoding
ftfy
regex
