# Core ML dependencies
torch
torchvision
numpy
scipy
transformers
AdamWClip

# Data processing
pandas

# Visualization
matplotlib
plotly
imageio[ffmpeg]
seaborn

# Utilities
tqdm
pytorch-ignite
cattrs

# Text Encoding
regex
